html
    font-size: $html-font-size
    word-spacing: 1px
    overflow-x: hidden

body
    background-color: $default-background
    color: $white
    font-weight: 400
    font-family: AvenirNext, helvetica, sans-serif
    font-size: $font-size
    overflow-x: hidden

/* recommended css code for vue-svgicon
.svg-icon
    display: inline-block
    width: 20px
    height: 20px
    color: inherit
    vertical-align: middle
    fill: currentColor
    stroke: none

.svg-fill
    fill: currentColor
    stroke: none
