html
    font-size: $html-font-size
    word-spacing: 1px
    overflow-x: hidden

    +media("<tablet")
        font-size: 8px

body
    background-color: $default-background-color

    @if $default-background-color == $light-background-color
        color: $black
    @else
        color: $white

    font-weight: 400
    font-family: $base-font-family
    font-size: $font-size
    overflow-x: hidden
    line-height: $html-line-height

\::selection
    background: $color-primary
    color: setBlackOrWhiteFromLightness($color-primary)

// Mode Modules recommended css code for vue-svgicon
.svg-icon
    +size(20px)

    display: inline-block
    color: inherit
    vertical-align: middle
    fill: currentColor
    stroke: none
    cursor: pointer

.svg-fill
    fill: currentColor
    stroke: none

// Mode Modules recommended css code for vue-svgicon
.vue-js-switch
    text-transform: uppercase
    margin-left: 6px
