.btn
    display: inline-block
    text-transform: uppercase
    font-weight: 700
    padding: 14px 24px
    white-space: nowrap
    letter-spacing: 0.5px
    border-radius: $border-radius
    transition: box-shadow $standard-time linear, background $standard-time linear

    // sizes
    &--xs
        padding: 6px 8px

    &--sm
        padding: 10px 16px

    &--lg
        padding: 20px 30px

    &--fullWidth
        width: 100%

    // color
    &--primary
        background-color: $color-primary

    &--secondary
        background-color: $color-secondary

    // border
    &--border
        border: 1px solid

        &Primary
            border-color: $color-primary

        &Secondary
            border-color: $color-secondary
