.btn
    // color
    &--primary

    &--secondary

    // border
    &--border
        border: 1px solid

        &-primary
            border-color: primary

        &-secondary
            border-color: primary

    // sizes
    &--xs

    &--sm

    &--lg

    &--xl
