.header
    // the main header
    &--hero
        +flex

        margin-top: -60px
        margin-bottom: 0
        padding-top: 100px
        min-height: 320px

.section
    padding: 40px 0

    // sizes
    &--half-screen
        min-height: 50vh

    &--full-screen
        height: 100vh

    // baxkground colors
    &--bg-alternative
        @if $default-background == $light-background
            background-color: $dark-background
        @else
            background-color: $light-background

    &--bg-primary
        background-color: $color-primary

    &--bg-secondary
        background-color: $color-secondary

.container
    // sizes
    &--xs
        max-width: $width-xs

    &--sm
        max-width: $width-sm

    &--lg
        max-width: $width-lg

    &--xl
        max-width: $width-xl

    &--full-width
        max-width: 100%

.flexbox
    +flex

    &--center
        justify-content: center

    &--align-right
        white-space: nowrap
        margin: 0 0 0 auto

.grid
    display: grid

    @for $i from 1 through 5
        &__col-#{$i}
            grid-template-columns: repeat(#{$i}, 1fr)
            grid-gap: 30px 20px
