// **** avoid as much as possible ****
// try to always define styles inside the components' classes

$helper-class-slug: h !default

.#{$helper-class-slug}-text-center
    text-align: center

.#{$helper-class-slug}-text-left
    text-align: left

.#{$helper-class-slug}-text-line-through
    text-decoration: line-through

.#{$helper-class-slug}-text-underline
    text-decoration: underline
