// **** avoid as much as possible ****
// try to always define styles inside the components' classes

$utility-class-slug: h !default

=generatePropertyValuePair($property, $values...)
    $remValue: nth($values, 1) / 10

    // if list $values has 2 items add both, otherwise add only the first one
    @if length($values) == 2
        #{$property}-top: #{$remValue}rem !important
        #{$property}-bottom: #{$remValue}rem !important
    @else
        #{$property}: #{$remValue}rem !important

// creates spacing utilities for padding/margin top and bottom
@for $n from 10 through 160
    @if $n % 10 == 0
        .#{$utility-class-slug}-padding-#{$n}
            +generatePropertyValuePair(padding, $n, 0)

        .#{$utility-class-slug}-pt-#{$n}
            +generatePropertyValuePair(padding-top, $n)

        .#{$utility-class-slug}-pb-#{$n}
            +generatePropertyValuePair(padding-bottom, $n)

        .#{$utility-class-slug}-margin-#{$n}
            +generatePropertyValuePair(margin, $n, auto)

        .#{$utility-class-slug}-mt-#{$n}
            +generatePropertyValuePair(margin-top, $n)

        .#{$utility-class-slug}-mb-#{$n}
            +generatePropertyValuePair(margin-bottom, $n)

.#{$utility-class-slug}-marginAuto
    margin-left: auto !important
    margin-right: auto !important

.#{$utility-class-slug}-alignStretch
    align-items: stretch

.#{$utility-class-slug}-alignCenter
    align-items: center

.#{$utility-class-slug}-justifySpaceBetween
    justify-content: space-between

.#{$utility-class-slug}-justifyCenter
    justify-content: center

.#{$utility-class-slug}-blur
    filter: blur(6px)

.#{$utility-class-slug}-textCenter
    text-align: center

.#{$utility-class-slug}-textLeft
    text-align: left

.#{$utility-class-slug}-textRight
    text-align: right

.#{$utility-class-slug}-textJustify
    text-align: justify

.#{$utility-class-slug}-textLineThrough
    text-decoration: line-through

.#{$utility-class-slug}-textUnderline
    text-decoration: underline

.#{$utility-class-slug}-rounded
    border-radius: 200px !important

.#{$utility-class-slug}-noWrap
    white-space: nowrap

+media(">=desktop")
    .#{$utility-class-slug}-hide\@desktop
        display: none


+media("<=tablet")
    .#{$utility-class-slug}-hide\@tablet
        display: none


// used on cart for phone, because otherwise content goes off screen
+media("<=phone")
    .#{$utility-class-slug}-flex-start\@phone
        align-items: flex-start

    .#{$utility-class-slug}-justify-start\@phone
        justify-content: flex-start

    .#{$utility-class-slug}-hide\@phone
        display: none
