=flex
    display: flex
    align-items: center

// positioning ==> postion: fixed 0 0 0 0
=position($position, $top: null, $right: null, $bottom: null, $left: null)
    position: $position
    top: $top
    right: $right
    bottom: $bottom
    left: $left

// set width and height in 1 property
=size($size...)
    @if length($size) == 2
        width: #{nth($size, 1)}
        height: #{nth($size, 2)}
    @else
        width: #{nth($size, 1)}
        height: #{nth($size, 1)}

// removes margin from first and last element on a container with repeated childs
=no-margin-first-last
    &:first-child, &:first-of-type
        margin-top: 0
        margin-left: 0

    &:last-child, &:last-of-type
        margin-right: 0
        margin-bottom: 0

@function getBlackOrWhiteFromLightness($color)
    @if lightness($color) > 60
        @return $black
    @else
        @return $white

=btn-hover($btnBgColor)
    &:hover
        @if $btnBgColor == $white
            color: $black

        @if $btnBgColor == $dark-grey
            color: $white

        background-color: darken($btnBgColor, 4%)

    &:active
        @if $btnBgColor == $white
            color: $black

        @if $btnBgColor == $dark-grey
            color: $white

        background-color: darken($btnBgColor, 10%)

=placeholder-background
    animation-duration: 1s
    animation-fill-mode: forwards
    animation-iteration-count: infinite
    animation-name: placeHolderShimmer
    animation-timing-function: linear
    background: linear-gradient(to right, $black 8%, lighten($black, 5%) 18%, $black 33%)
    background-size: 800px 104px
    position: relative

    @keyframes placeHolderShimmer
        0%
            background-position: (-468px) 0

        100%
            background-position: 468px 0

=touch-feedback
    transition: all 0.2s

    &:hover
        transform: scale(1.05)

    &:active
        transform: scale(0.95)
