// ***************
// JS Hookes & States
// ***************

// used to remove scrolling from sections or body
.noScroll
    overflow: hidden !important
    position: relative

.isDisabled
    opacity: 0.5 !important
    pointer-events: none
    fill: $color-disabled
    color: $color-disabled


    &.btn--border
        background-color: transparent
        color: $color-disabled
        border-color: $color-disabled

.hasError

.textIsError
    color: $color-danger

.textIsWarning
    color: $color-warning
