// ***************
// JS Hookes & States
// ***************
.isDisabled
    opacity: 0.5 !important
    pointer-events: none
    fill: $color-disabled
    color: $color-disabled

    &.btn
        background-color: $color-disabled

.hasError

.textIsError
    color: $color-error

.textIsWarning
    color: $color-warning

// if player is active
section.playerisVisible
    padding-bottom: 180px

// if deal bar is active
section.dealBarIsVisible
    padding-bottom: 40px

    +media("<phone")
        padding-bottom: 80px
