// **** avoid as much as possible ****
// try to always define styles inside the components' classes

$utility-class-slug: u !default

// creates spacing utilities for padding/margin top and bottom
@for $n from 10 through 100
    @if $n % 10 == 0
        .#{$utility-class-slug}-padding-#{$n}
            padding: #{$n}px 0

        .#{$utility-class-slug}-pt-#{$n}
            padding-top: #{$n}px

        .#{$utility-class-slug}-pb-#{$n}
            padding-bottom: #{$n}px

        .#{$utility-class-slug}-margin-#{$n}
            margin: #{$n}px auto

        .#{$utility-class-slug}-mt-#{$n}
            margin-top: #{$n}px

        .#{$utility-class-slug}-mb-#{$n}
            margin-bottom: #{$n}px
