// Containers Width
$width-xxs: 420px !default
$width-xs: 600px !default
$width-sm: 840px !default
$width-md: 1080px !default
$width-lg: 1180px !default
$width-xl: 1280px !default

// Paddings Horizontal
$padding-x: 20px !default
$padding-x-sm: 14px !default
$padding-x-lg: 30px !default

// Paddings Vertical
$padding-y: 20px !default
$padding-y-sm: 14px !default
$padding-y-lg: 30px !default

// Font sizes
$html-font-size: 10px !default
$html-line-height: 1.5 !default
$font-size: 1.4rem !default
$font-size-sm: 1.2rem !default
$font-size-lg: 1.8rem !default
$line-height: 1rem !default

// Background Colors
$dark-background-color: #181818 !default
$light-background-color: white !default
$default-background-color: $dark-background-color !default

// Borders
$border-radius: 50px !default
$border-color: #262626 !default

// Greyscale Colors
$white: white !default
$light-grey: #ddd !default
$grey: #909090 !default
$dark-grey: #4B4A4A !default
$black: #252525 !default

// Theme Colors
$color-primary: #0269ff !default
$color-secondary: #1DCF75 !default
$color-tertiary: orange !default

// Control colors
$color-success: #32b643 !default
$color-warning: #ffb700 !default
$color-error: #E63C3C !default

// usare variabili sass in css
// https://codepen.io/jakealbaugh/post/css4-variables-and-sass
$colors: primary, secondary, tertiary, success, warning, error

\:root
    // each item in color map
    @each $name in $colors
        --color-#{$name}: $color-#{$name}

@function color($color-name)
    @return var(--color-#{$color-name})

// z-indexes
$zindex-dropdown: 1000 !default
$zindex-sticky: 1020 !default
$zindex-fixed: 1030 !default
$zindex-modal-backdrop: 1040 !default
$zindex-modal: 1050 !default
$zindex-popover: 1060 !default
$zindex-tooltip: 1070 !default

// transition times
$time-fast: 0.1s !default
$time-standard: 0.3s !default
$time-slow: 0.5s !default
